@mixin btn {
    float:right;
    color:#fff;
    width:50%;
    right:30px;
    text-align: center;
    cursor: pointer;
}
#collap {
    display: block;
    width: 100%;
    height: auto;
}

.favoritos {
    .favorito{
        max-width: 300px;
        background-color: #9c97c9;
        position: fixed;
        right: 20%;
        z-index: 1;
        top: 12px;
        
        .row {
            margin-right: 0;
            margin-left: 0;
        }
        .row:first-child {
            height: 83px;
            padding-top: 22px;
        }
        .col-md-12{
            list-style:none;
            padding-right: -10px;
            border-bottom: solid 1px #6b63b5;
            padding: 5px;
            color: #fff;
            
            button{
                background: transparent;
                border: 0
            }

            label {
                margin-left: 5px;
                font-weight: bold;
            }

            img {
                width: 50px;
                height: 50px;
                
            }
            
            .closeFav{
                float: right;
                margin-top: 10px;
                margin-right: 15px;
            }
        }
    }
    @media screen and (max-width: 576px) {
        .favorito{
            top: inherit;
            bottom: 15px ;
            left: 5%;
            max-width: 90%;
        }
        .row:first-child {
            height: 60px !important;
            padding-top: 0px !important;
        }
        .row:last-child {
            height: 80px !important;
            padding-top: 0px !important;
        }

    }

    

}
.opciones{
    position:fixed;
    top:0%;
    background-color:#6b63b5;
    color:#fff;
    width:300px;
    right: 20%;
    padding: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 10;

    .btnFavoritos {
        @include btn();
        border-right: solid #fff 1px   
    }
    .btnAgregar {
        @include btn();
        
    }
}

@media screen and (max-width: 576px) {
    .opciones{
        position:fixed;
        bottom:0%;
        top: inherit;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        left: 5%;
        width: 90%;
    }

    .container.mt-2 {
        margin-bottom: 60px;
    }

    
}
